; Sendgrid Stats Accumulator (Server and Viewer) sample config file

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; SERVER configuration
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

[debug]
; level = ERROR | WARN | NOTICE
;   The WARN level will include errors; NOTICE will include errors and warns.
;   Leave blank to turn logging off.
; log_file = /path/to/desired/log/file
;   If this file can't be created, an error is logged to the Apache log.
;   Leave it blank if you don't want to log to a separate file.
;
debug_level=WARN
log_file=/var/log/sendgrid/accumulator.log

[database]
; These parameters configure the mysql connection string:
;   user:pass@host:port/name
user =
pass =
host = localhost
port = 3306
name = sendgridstats


;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; VIEWER configuration
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

[ldap]
; The Senate's LDAP server is used to control access to the Viewer.
; These parameters are used to customize LDAP.
host = webmail.senate.state.ny.us
port = 389

[permissions]
; Permissions for the Accumulator Viewer
;
; Specify which CRM instances should be displayed when the user logs in
; to the Sendgrid Stats Viewer.  Each CRM instance is associated with one
; or more groups.  If the logged-in user is a member of one of the groups
; associated with a particular CRM instance, then that CRM instance will
; be included in the stats output.
;
; Format is:
;    instanceName = groupName [, groupName ...]
;
; Multiple groups per CRM instance can be specified by separating them with
; commas.
adams = SenatorAdams,MinConfSer,CRMAdministrator
alesi = SenatorAlesi,MajConfSer,CRMAdministrator
zeldin = SenatorZeldin,MajConfSer,CRMAdministrator

