; These parameters configure the mysql connection string:
;   user:pass@host:port/name
[database]
user = 
pass = 
host = localhost
port = 3306
name = statserver

; These parameters are related to the Apache Configuration
;   url - the endpoint that sendgrid will be configured to post to
;   user/pass - the HTTP Auth user/pass combination for access
;
; Currently only Basic Auth is supported.
[test]
url = http://localhost/ssa/callback.php
user = sendgrid
pass = sendgrid
